._dash-undo-redo {
	display: none;
}

.modebar {
  background-color: #444;  /*overrides CSS for chart menu*/
}

.Select div, .Select input, .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label{
	background-color: #222;
	color: #FFFFFF;
}

.navbar {
		border-bottom:1px solid #1c4798;
}
